.orders{
	.shipped {
		background-color: $c_green;
		color: #fff;
		opacity: .8;
		width: 90%;
		transition:background-color 0.2s;

		&:hover{
			opacity: 1;
			background-color: $c_green !important;
		}
	}
	.options {
		margin-top: -25px; 
		margin-bottom: -10px; 
	}
	.points {
		width: 90%;
	}
}

.title {
	max-height: 20px; 
}

.track {
	font-size: 1.8em;
}

#tracking{
	p{
		margin-bottom:0;
		padding:4px;
	}
	span, time{
		font-size: 1.8em;
	}
}

.wide {
	width: 98% !important; 
}