$c_text: black;
$c_footer_text: #777;
$c_accent: #0D47A1;
$c_green: #259b24;
$md_whiteframe_4: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
$md_whiteframe_6: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
$md_whiteframe_8: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
$ease_in_out_quint: cubic-bezier(0.86, 0, 0.07, 1);