$c_text: black;
$c_footer_text: #777;

body{
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1{
	text-transform: uppercase;
	font-size:40px;
	text-align:center;
	font-family: Oswald, Helvetica, Arial, sans-serif;
}

a, a:visited{
	color:$c_text;
	text-decoration:none;
}

header {
	.md-button{
		font-weight:700;
	}
}

footer{
	color: $c_footer_text;
	font-size:14px;
	.fa{
		font-size:1.3em;
	}
	.footer-title{
		text-transform:uppercase;
		margin-bottom:8px;
	}
}

.cart{
	font-size:1.2em;
}

.food {
	width: 350px; 
	max-width:350px; 
}

.main-search{
	display:flex;
}

.qty {
	max-width: 30px; 
	text-align: center;
}
 /**
  * Hide when Angular is not yet loaded and initialized
  */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
