<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Upscale Markets</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
	<link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css" type="text/css" >
</head>
<body ng-app="MainApp" ng-controller="MainController" ng-cloak>
	<ng-include src="'header.html'"></ng-include>

	<section  flex="60" flex-offset="20" flex-xs="80" flex-offset-xs="10">
		<h1>Account Settings</h1>
	</section>
	<section ng-controller="SettingsController" class="section-items" flex-gt-sm="70" flex-offset-gt-sm="15" flex-xs="100" flex-offset-xs="0">
		<md-content layout-gt-md="row" layout="column">
			<md-content layout="column" flex-xs flex-gt-sm="30">
				<md-card class="settings">
					<md-card-title class="title">
			          	<md-card-title-text>
			          		<div layout="row" layout-align="space-between center">
			            	<span class="md-headline">Profile</span>
			            	<md-button ng-click="editProfile($event)" class="md-raised">Edit</md-button>
			            	</div>
			          	</md-card-title-text>
			        </md-card-title>
			        	<md-card-content layout-sm="row" layout-md="row" layout="column" flex layout-padding="">
			          		<div layout="column" ng-repeat="(key,value) in user">
			          			<md-content>
			          				<strong>{{key}}</strong> 
			          			</md-content>
			          			<md-content>
			          				 <div ng-bind-html="getHTMLvalue(value)"></div>
			          			</md-content>				      
					     	</div>	
					     	 				      
		        		</md-card-content>
		        		<md-button ng-click="showPrompt($event)" id='pwd'>Change password</md-button>	

			    </md-card>
			</md-content>
		    <md-content layout="column" flex-xs flex-gt-sm="70" class="orders">
				<md-card flex>
					<md-card-title class="title" >
			          	<md-card-title-text >
			            	<span class="md-headline">Orders</span>
			          	</md-card-title-text>
			        </md-card-title>
			        <md-card-content>
			        	<div flex layout="column" layout-gt-xs="row" layout-align="start start">
			        		<md-content flex="30" layout-padding="" layout="column" layout-align="start start">
			        			<strong>Status</strong>
			        			<span>Your latest order has been:</span>
			        			<md-button class="shipped md-raised"  ng-click="showTracking($event)" >
			        				shipped!
			        			</md-button>

			        		</md-content>	
			        		<md-content flex="30" layout-padding="" layout="column" layout-align="start start"> 
			        			<strong>Current shipping address</strong>
			        			<div>
			        				Thrall, son of Durotan
			        				<br>58 Ogrimmar
			        				<br>Durotar, Kalimdor
			        			</div>
			        		</md-content>		        		
			        		<md-content flex="40" layout-padding="" layout="column"  layout-align="start start"> 
			        			<strong>Options</strong>
			        				<md-button>View order history</md-button>
			        				<br><md-button class="options">Modify shipping adddress</md-button>
			        		</md-content>
			        	</div>
			    	</md-card-content>
			    </md-card>
			    <div layout-gt-xs="row" layout="column">
				    <md-card flex>
						<md-card-title class="title">
					          	<md-card-title-text>
					            	<span class="md-headline">UP!Rewards&trade;</span>
					          	</md-card-title-text>
				        	</md-card-title>
				        <md-card-content>
				        	<div flex layout="column" layout-gt-xs="row" layout-align="start start">
				        		<md-content flex-gt-sm="30" flex-xs="100" layout-padding="" layout="column" layout-align="start start">
				        			<span>You have <strong>1000</strong> points!</span>
				        			<md-button ng-href="/rewards.html" class="md-primary md-raised points">Redeem points!</md-button>
<md-button>View points history</md-button>
				        				<br><md-button class="options">Terms & Conditions</md-button>
				        		</md-content>		        		

				        	</div>
				    	</md-card-content>			        	
				    </md-card>	
					<md-card flex>
						<md-card-title class="title" >
					          	<md-card-title-text>
					            	<span class="md-headline">Payment</span>
					          	</md-card-title-text>
				        	</md-card-title>
				        	<md-card-content>
				        	<div flex="100" layout="column" layout-gt-xs="row" layout-align="start start">
				        		<md-content flex="100" flex-gt-sm="35" layout-padding="" layout="column"  layout-align="start start"> 
				        				<md-button>Modify payment options</md-button>
				        				<br><md-button class="options">Add a payment method</md-button>
				        		</md-content>
				        	</div>
				    	</md-card-content>		
				    </md-card>		
				    </div>	   
			</md-content>
		</md-content>	    	    
	</section>

	<ng-include src="'footer.html'"></ng-include>
	<!-- Angular Material requires Angular.js Libraries -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript" src="js/app.js"></script>

</body>
</html>
