<md-dialog aria-label="Your Cart"  ng-cloak id="cart-dialog" flex="50" flex-sm="70" flex-xs="100">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Your Cart</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="fa-close" class="fa dialog-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div layout="column" layout-padding>
        <aside ng-if="order.empty">
          You have no items in your cart!
        </aside>
        <md-card ng-repeat="i in order.items" flex="100" >
          <md-card-content layout="row">
              <span style="font-weight:bold;">{{i.name}}</span>
              <span flex></span>
              <div>{{i.price | number:2}} x {{i.qty}}</div>
              <span flex="5"></span>
              <div class="subtotal">${{i.price * i.qty | number:2}}</div>
          </md-card-content>
        </md-card>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-margin>
      <div ng-show="{{order.total > 0}}">
        You will earn <strong>{{order.total | number:0}}</strong> points!
      </div>
      <span flex></span>
      <h3>Total: ${{order.total | number:2}}</h3>
      <md-button class="md-raised md-accent" ng-click="checkout()">
       Checkout
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>