<md-dialog ng-controller="SettingsController" aria-label="Edit Profile"  ng-cloak id="edit-profile" flex="40" flex-sm="70" flex-xs="100">
  <form name="profileForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Profile</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="fa-close" class="fa dialog-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" layout-padding>
      <div class="spacer"></div>
      <md-input-container ng-repeat="(key,value) in user">
        <label>{{key}}</label>
        <input name="{{key}}" value="{{value}}">
      </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-margin>
      <md-button class="md-raised md-primary" ng-click="">
       Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>